[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GDAtools"]
	path = GDAtools
	url = https://github.com/cran/GDAtools
[submodule "descriptio"]
	path = descriptio
	url = https://github.com/cran/descriptio
[submodule "moreparty"]
	path = moreparty
	url = https://github.com/cran/moreparty
[submodule "morepls"]
	path = morepls
	url = https://github.com/cran/morepls
[submodule "seqhandbook"]
	path = seqhandbook
	url = https://github.com/cran/seqhandbook
[submodule "translate.logit"]
	path = translate.logit
	url = https://github.com/cran/translate.logit
